.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.photo {
  height: 100px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#appTitle {
    padding: 60px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #714017;
    color: white;
    font-size: 30px;
}

.inputFilter{
  width: 50%;
  padding: 10px;
  border: 3px solid black;
  margin-top: 25px;
  margin-bottom: 30px;
}

#startHL {
  background-color: #711717;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: Apple Chancery;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

#charsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#charsTable td, #charsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#charsTable tr:nth-child(even){background-color: #f2f2f2;}

#charsTable tr:hover {background-color: #ddd;}

#charsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #711717;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
